<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.push.dao.PushLanguageDao">
	<cache/>
	<resultMap id="PushLanguage" type="com.nexus.push.entity.PushLanguage">
        <result property="lang_id" column="lang_id"/>
        <result property="language" column="language"/>
    </resultMap>
	<select id="selectAll" resultType="PushLanguage">
		select lang_id,
			   language
		  from t_push_language
	</select>
</mapper>