<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.push.dao.PushTokenHistoryDao">
	<insert id="insert">
		insert into t_push_token_history
		(
			device_token,
			device_type,
			create_date
		)
		values
		(
			#{device_token},
			#{device_type},
			now()
		)
	</insert>
</mapper>