<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.push.dao.PushMemberDao">
	<insert id="merge">
		insert into t_push_member
		(
			token_id,
			device_type,
			phone_num,
			loc_id,
			lang_id,
			longtitude,
			latitude,
			create_date
		)
		values
		(
			#{token_id},
			#{device_type},
			#{phone_num},
			#{loc_id},
			#{lang_id},
			#{longtitude},
			#{latitude},
			now()
		)
		on duplicate key update
		loc_id = #{loc_id},
		lang_id = #{lang_id},
		longtitude = #{longtitude},
		latitude = #{latitude},
		mod_date = now()
	</insert>
	<select id="pushSendList" parameterType="long">
		select		token_id,
					con_id,
					(
						case member.lang_id
	       				 	when 1 then contents_EN
	        			 	when 2 then contents_JA
	        			 	when 3 then contents_CH
	        			 	else ''
        			 	end
        			) as contents,
        			device_type
		from 		t_push_member member,
	 				t_push_language lang,
     				t_push_content con
		where 		member.lang_id = lang.lang_id
		and 		loc_id = #{loc_id}
		and			con_id = #{con_id}
		<!-- and			device_type = #{device_type} -->
		group by 	token_id
	</select>
</mapper>